<div class="container">
<nav>
  <ul>
    <div class="logo">
      <a href="intro">
          <img src="./logo1.png">
      </a>
      </div>
    <li><a href="index">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/skills">Skills</a></li>
    <li><a href="/contacts">Contact</a></li>
    <li><a href="/posts" class="active">Commets</a></li>
    <li><a href="/add-post">Review</a></li>
  </ul>
</nav>
</div>